.add-bill-container {
    display: block;
    margin: auto;
    width: 350px;
    padding: 15px;
    font-family: gill Sans, sans-serif;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .add-bill-form-control {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5.5em;
  }


  .add-bill-container input{
    font-family: gill Sans, sans-serif;
    background-color: aliceblue;
  }

.add-bill-container span{
    margin-top: 10px;
    font-size: 15px;
}

.add-bill-container button{
    margin-top: 20px;
    background-color: lightblue;
    font-family: gill Sans, sans-serif;
}

.add-bill-container select{
    font-family: gill Sans, sans-serif;
    background-color: aliceblue;
    border-color: black;
}