.interval-option-container {
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px gray;
    font-family: gill Sans, sans-serif;
}
.interval-option-container h4{
    text-decoration: underline;
    font-size: 30px;
}

.interval-option-container h5{
    font-size: 15px;
    padding: 10px;
    text-decoration: underline;
    color: blue;
}

.description-icon{
    color: brown;

}

 