.currency-container {
    display: block;
    margin: auto;
    width: 350px;
}
.currency-form-control{
    padding: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.add-bill-form-control {
    display: block;
    width: 100%;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
  }
